/* Color Theme Swatches in Hex */
.Hyper-Chrome-1-hex { color: #F23D4C; }
.Hyper-Chrome-2-hex { color: #F2059F; }
.Hyper-Chrome-3-hex { color: #240940; }
.Hyper-Chrome-4-hex { color: #140626; }
.Hyper-Chrome-5-hex { color: #2E038C; }

@font-face {
    font-family: SuperRetroItalicM54;
    src: url(/assets/fonts/SuperRetroItalicM54.ttf);
}
body {
    font-family: SuperRetroItalicM54;
    background-color: rgb(36, 9, 62); ;
    
}
main {
    margin-top: 80px;
    margin-left: 80px;
}
h1 {
    font-size: 50px;
    color: #F23D4C;
    margin-left: 200px;
}


.grid {
    width: 768px;
    border: 10px solid #F2059F;
    border-radius: 15px;
    background-color: #1f054c;
    box-shadow: 1px 1px 30px 5px #fc5f5f;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, 256px);
    grid-template-rows: repeat(3, 256px);
}

.space {
    width: 256px;
    height: 256px;
    border: 2px solid #F2059F;
}
.space:hover {
    filter: brightness(80%); 
}
.space:active {
    filter: brightness(120%); 
}

#o {
    background-image: url("/assets/O_mid.png");
}

#x {
    background-image: url("/assets/X_mid.png");
}

@media only screen and (max-width: 800px) {
    main {
        transform: scale(0.7) translate(-0%, -15%);
        margin: 1px;
    }
}

@media only screen and (max-width: 600px) {
    main {
        transform: scale(0.4) translate(-65%, -50%);
        margin: 1px;
    }
}