* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #e6e6e6;
  font-family: arial;
}

:root {
  --bluecolor: #167ac6;
  --grayColorOne: #b6b6b6;
}

.whiteBGColor,
.comments,
aside li,
.videoTitle,
.videoDescription {
  background-color: white;
}

.subscribe,
.popUp > h4,
.popUp button,
.subscribe {
  color: white;
}
.navbar,
.popUp {
  z-index: 50;
}
.displayFlexbox {
  display: flex;
}
img {
  width: 100%;
}
iframe {
  width: 100%;
  height: 100%;
}
li {
  list-style: none;
}

.navbar {
  position: sticky;
  top: 0;
}

.navbar > ul {
  height: 3.2em;
  justify-content: space-around;
  align-items: center;
}

button {
  height: 2em;
  width: 2em;
  padding: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  height: 2.25em;
  border: 0;
}

.Hamburger {
  background-image: url("/assets/image/hamburger.svg");
  background-size: 4em;
  border-radius: 50%;
}

.logotop {
  width: 7.5em;
  height: auto;
}

.searchbar {
  border: 0.1em solid var(--grayColorOne);
  width: 45em;
  padding-left: 0.3em;
}

.submitbutton {
  background-image: url("/assets/image/searchLogo.png");
  background-size: 1.2em;
  background-color: #f7f7f7;
  border: 0.05em solid var(--grayColorOne);
  width: 4.8em;
  padding: 0;
}

.leftcornercontiner {
  align-items: center;
  justify-content: space-between;
}

.UploadAndSignContainer {
  width: 9em;
  justify-content: space-between;
  align-items: center;
}
.SignIn {
  font-weight: bold;
  background-color: var(--bluecolor);
  padding: 0;
  height: 2.6em;
  color: aliceblue;
  width: 5.6em;
  border-radius: 0.2em;
}
.upload {
  background-image: url("/assets/image/createLogo.svg");
  background-size: 8em;
}

button:active {
  filter: brightness(88%);
}

.popUp {
  border: 0.2em solid var(--bluecolor);
  height: 4em;
  flex-direction: column;
  margin-bottom: 1.1em;
  position: sticky;
  top: 3.5em;
}

.popUp > h4 {
  background-color: var(--bluecolor);
  padding: 0.1em;
  font-size: 0.9em;
  justify-content: space-between;
  align-items: center;
}

.popUp > p {
  padding: 0.5em;
  font-size: 0.8em;
}

.popUp a {
  text-decoration: none;
  color: var(--bluecolor);
}

.popUp button {
  background-color: transparent;
  font-size: 1em;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 45em 1fr 10em 1fr;
  grid-template-areas:
    "video              playList"
    "videoTile          playlist"
    "videoDescription   playlist"
    "comments           playlist";
  column-gap: 1.1em;
  row-gap: 1.1em;
}

aside {
  grid-area: playList;
  padding: 0.5em;
  margin-top: -0.5em;
  margin-left: -0.5em;
  height: 93em;
}
aside img {
  flex: 60%;
}

aside article {
  flex: 40%;
}

aside li {
  align-items: center;
  padding: 0.5em;
}

.comments {
  grid-area: comments;
  padding: 0.5em;
}

.comments > div {
  align-items: center;
  justify-content: center;
  margin-top: 6em;
}

.comments p {
  margin-left: 0.5em;
}

.comments img {
  height: 2em;
  width: auto;
}

.videoTitle {
  grid-area: videoTile;
  padding: 1.3em;
}

.videoTitle > h2 {
  margin-bottom: 0.8em;
  font-weight: lighter;
}

.videoDescription {
  grid-area: videoDescription;
  padding: 0.5em;
}

.VideoPlayer {
  grid-area: video;
}

aside image {
  flex: 30%;
}

aside article {
  flex: 90%;
  margin-left: 0.6em;
}

aside h1 {
  margin-bottom: 1em;
}

.menu {
  justify-content: space-between;
}

.menuRight {
  align-items: center;
}

.menuRight > button {
  margin-left: 0.8em;
}

.likes {
  align-items: center;
}

.subscriberspart {
  align-items: center;
  margin-top: 0.5em;
}

.subscribe {
  background-image: url("/assets/image/youtubeLogoSubscribe.png");
  background-position-x: 0.3em;
  background-size: 1.8em;
  margin-top: 0.01em;
  padding: 0 2.5em;
  width: 8em;
  height: 2.16em;
  background-color: red;
  font-weight: bold;
  z-index: 2;
}

.subscriberspart > span {
  margin-left: -0.3em;
  padding: 0.4em 0.5em 0.4em 0.7em;
  border: 0.02em solid rgb(58, 58, 58);
  border-left: 0;
  border-radius: 0.2em;
  z-index: 1;
  font-size: 0.8em;
}

.conteinerTitleMiddle {
  margin: 0;
  justify-content: space-between;
}

.counterViews {
  margin-top: 2em;
}

.videoTitle > div > hr {
  margin-top: 1em;
}

.trasparentLine {
  flex: 99%;
}

.blueLine {
  height: 0.25em;
  width: 13.5em;
  flex: 80%;
  background-color: var(--bluecolor);
}

.titleAndsubscribe {
  margin-left: 0.5em;
}

.userIcon {
  flex-direction: row;
}

.plus {
  background-image: url("/assets/image/PlusIcon.svg");
  background-size: 12em;
}

.Share {
  background-image: url("/assets/image/shareIcon.png");
  background-size: 2em;
}

.More {
  background-image: url("/assets/image/dots.svg");
  background-size: 6.5em;
}

.Likes {
  background-image: url("/assets/image/likeIcon.png");
  background-size: 3.5em;
}

.disLikes {
  margin-top: 0.6em;
  transform: scale(-1);
}
.blueLineContainer {
  margin-top: -0.2em;
  justify-content: flex-end;
}
.grayLine {
  background-color: rgb(165, 165, 165);
  flex: 5%;
}

.showMore {
  width: 100%;
  display: inline-block;
  border-top: 0.1em solid darkgray;
  text-align: center;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  font-weight: bold;
  color: gray;
  font-size: 0.7em;
}
.actualDescription,
.videoDescription > h3 {
  color: rgb(56, 56, 56);
  font-size: 0.9em;
}
.videoDescription {
  flex-direction: column;
  justify-content: space-between;
}
