* {
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;

  --gray-one: #818181;
  --gray-two: #616161;
  --gray-dark: #303030;
  --gray-darker: #272727;
  --gray-three: #383838;
  --gray-forth: #cfcfcf;
}

*,
::before,
::after {
  box-sizing: inherit;
}

@font-face {
  font-family: custom-font;
  src: url("../assets/fonts/OPTIFormula-One.otf");
}

body {
  overflow-x: hidden;
}

body,
button,
input {
  font-family: custom-font, sans-serif;
}

header,
button,
input {
  font-size: 1.3rem;
}

header {
  background-color: var(--gray-one);
  color: white;
  min-width: 1180px;
}

main {
  min-width: 1180px;
}

input {
  padding: 1rem 0.1rem 1rem 3rem;
  width: 100%;
  border-radius: 0.7rem;
  border: none;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

form {
  position: relative;
  width: 22%;
}

footer {
  text-align: center;
  position: relative;
  color: var(--gray-forth);
  background-color: var(--gray-darker);
  min-height: 42rem;
}

footer p {
  line-height: 2rem;
  font-size: 0.8rem;
  margin: 1rem 33rem;
}

footer img {
  filter: grayscale();
  max-width: 11rem;
}

footer h3 {
  font-size: 1rem;
  padding: 3rem  0.1rem 1rem;
}

.aside-float {
  position: absolute;
  right: 0;
  margin-top: 2rem;
  margin-right: 2.5rem;
  align-items: center;
  transform: scale(0.8);
}

.aside-float button {
  color: var(--gray-forth);
  background-color: transparent;
  padding: 0.5rem 1rem;
  border: var(--gray-forth) solid 2px;
  border-radius: 1rem;
}

.box-circule {
  margin-right: 1rem;
}

.eclipse-shape {
  padding: 0.2rem;
  background-color: var(--gray-forth);
  border-radius: 1rem;
  font-size: 3.9rem;
  color: var(--gray-two);
  transform: rotate(75deg);
}

.nav-bar {
  font-weight: bold;
  justify-content: space-around;
  align-items: center;
}

.nav-bar img {
  margin-top: 1.5rem;
  min-width: 12rem;
}

.nav-bar ul {
  list-style-type: none;
  align-items: center;
}

.shipping-now-content * + * {
  margin-top: 2rem;
}

.preview-articule * + * {
  margin-top: 2rem;
}

.articule-two * + * {
  margin-top: 1rem;
}

.text-sub * + * {
  margin-top: 0.5rem;
}

.hashtags * + * {
  margin-left: 2rem;
}

.nav-bar ul * + * {
  margin-left: 1.5rem;
}

.nav-bar button {
  font-weight: bold;
  border-radius: 0.4rem;
  border: none;
  padding: 0.5rem 1.5rem;
  color: white;
  background-color: var(--gray-forth);
}

.flex-box {
  display: flex;
  flex-direction: row;
}

.search {
  font-size: 2rem;
  position: absolute;
  top: 0.8rem;
  left: 0.6rem;
}

.display-grid {
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 45rem);
}

.bg-one {
  background-color: var(--gray-three);
}

.bg-two {
  background-color: var(--gray-dark);
}

.position-absolute {
  position: absolute;
}

.header-text {
  font-size: 2.3rem;
  margin-top: 3.5rem;
  color: var(--gray-dark);
  text-align: center;
  width: 100vw;
}

.header-text span {
  line-height: 3.5rem;
  font-weight: lighter;
  padding: 0.5rem 0.8rem;
  background-color: white;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.mini-photo {
  margin-top: 1rem;
  display: inline-block;
  width: 4.5rem;
  height: 4.5rem;
  border: 0.3rem white solid;
  border-radius: 0.5rem;
  background-color: var(--gray-one);
  transform: rotate(80deg);
}

.margin-articule {
  height: 100%;
  margin: auto 4rem 0.01rem 6rem;
  flex-direction: column;
}

.latest-link span {
  font-size: 2.3rem;
}

.mini-article-footer span {
  font-size: 1.5rem;
}

.see-guides span {
  font-size: 1.5rem;
}

.header-articule div + span {
  margin-left: 1.5rem;
}

.header-articule span + span {
  margin-left: 0.5rem;
}

.header-articule {
  margin-top: 14rem;
  align-items: center;
  margin-bottom: 2rem;
}

.articule-div p {
  display: inline;
  font-size: 2.6rem;
}

.ion-icon {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  transform: scale(-1, 1);
}

.hashtags {
  margin-top: 1.5rem;
}

.arrow {
  margin-top: auto;
  margin-bottom: 3rem;
  font-size: 3rem;
}

.smashing-member {
  width: 100vw;
  color: var(--gray-forth);
  background-color: var(--gray-darker);
}

.smashing-member ul {
  list-style-type: disc;
  margin-left: 2rem;
}

.content-member {
  min-width: 1180px;
  max-width: 80rem;
  margin: auto;
}

.text-sub {
  width: 50%;
  padding: 3rem;
}

.text-sub p {
  line-height: 2rem;
  margin-bottom: 2rem;
}

.smashing-member button,
.grid-our-guides-content button {
  margin-top: 2rem;
  color: white;
  border-radius: 0.8rem;
  background-image: linear-gradient(var(--gray-one), var(--gray-two));
  padding: 1rem 1.3rem;
}

.photo-sub {
  width: 15rem;
  height: 15rem;
  margin: auto;
  margin-top: -3rem;
}

.grid-two {
  display: grid;
  background-color: var(--gray-forth);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr 1fr;
  gap: 2rem;
}

.arow-two {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 3rem;
  padding: 0.4rem 2rem 1.5rem;
}

.arow-two:hover {
  background-color: var(--gray-two);
}

.articule-two {
  padding: 1rem;
  min-height: 25rem;
  position: relative;
  color: var(--gray-one);
  margin: 3rem 2rem 1.5rem 2rem;
}

.articule-two:hover {
  transform: scale(1.2);
  background-color: white;
  box-shadow: 2rem 3rem 3rem 0.01rem #4d4d4d7a;
}

.cat-articule {
  background-color: var(--gray-three);
  color: var(--gray-forth);
  border-radius: 1rem;
}

.cat-articule-content {
  text-align: center;
  min-height: 45rem;
  padding: 1.8rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.cat-articule-content h2 {
  font-weight: lighter;
  text-decoration: underline;
  font-size: 2.5rem;
}

.cat-articule-content button,
.shipping-now button {
  padding: 1rem;
  border: none;
  border-radius: 0.7rem;
  background-color: var(--gray-forth);
}

.cat-articule-content a {
  text-decoration: underline;
}

.circle-avatar {
  width: 13rem;
  height: 13rem;
  padding: 4rem;
  border: 1rem solid var(--gray-two);
  border-radius: 10rem;
  background-color: var(--gray-dark);
}

.latest-link {
  padding: 5.5rem;
  width: 100vw;
  text-align: center;
}

.latest-link a {
  color: var(--gray-two);
  margin: auto;
  border-bottom: 0.3rem solid var(--gray-darker);
}

.shipping-now {
  background-image: linear-gradient(var(--gray-three), var(--gray-one));
}

.shipping-now-content {
  line-height: 3rem;
  font-size: 1.5rem;
  text-align: center;
  color: var(--gray-forth);
  padding: 5rem 20rem 2rem;
  flex-direction: column;
  align-items: center;
}

.shipping-now-content .circle-avatar {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
}

.shipping-now-content h2 {
  line-height: 4rem;
  font-size: 3rem;
  text-decoration: underline;
}

.grid-three {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15rem repeat(3, 1fr) 9rem;
  grid-template-areas:
    "header     header"
    "articule1 articule2"
    "articule3 articule4"
    "articule5 articule6"
    "footer    footer";
  gap: 2rem;
}

.header-articules {
  color: var(--gray-one);
  align-items: center;
  grid-area: header;
  padding: 5rem 7rem;
}

.header-articules .mini-photo {
  border: 0.5rem solid var(--gray-darker);
  padding: 5rem;
  margin-right: 3rem;
}

.mini-articules {
  color: var(--gray-two);
  padding: 2rem 5rem;
}

.mini-articules .mini-photo {
  border-color: var(--gray-dark);
  padding: 2rem;
  margin-right: 2rem;
}

.mini-article-footer {
  padding: 0;
  margin: auto;
  grid-area: footer;
}

.book-part h2 {
  margin-top: -1rem;
  font-size: 3rem;
  text-decoration: underline;
}

.book-part-container {
  background-image: linear-gradient(var(--gray-dark), var(--gray-three));
}

.book-part .mini-photo {
  position: relative;
  top: 3rem;
  padding: 9rem 12rem;
}

.grid-our-guides {
  margin: auto;
  max-width: 90rem;
  padding: 3rem;
  background-color: var(--gray-forth);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30rem 45rem;
  gap: 1.5rem 1rem;
}

.grid-our-guides-content {
  min-width: 38rem;
  padding: 2.3rem;
  color: var(--gray-one);
  background-color: white;
  flex-direction: column;
  border-radius: 1.2rem;
}

.grid-our-guides-content p {
  margin-bottom: 0;
}

.margin-top-cat {
  margin: auto;
  margin-top: 1rem;
}

.grid-our-guides-content h2 {
  font-size: 2.5rem;
  text-decoration: underline;
}

.cat-two {
  width: 35rem;
}

.see-guides {
  padding: 3.5rem;
  background-color: var(--gray-forth);
}

.last-articule {
  background-color: var(--gray-forth);
}

.bird-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 10rem;
  margin-bottom: 2rem;
}

.cat-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 10rem;
  margin-bottom: 2rem;
}

.inline-list {
  margin: 1rem 10rem 2rem;
  font-size: 1.5rem;
}

.inline-list li {
  display: inline;
}

.inline-list li::before {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  position: relative;
  top: 0.3rem;
  font-size: 2.6rem;
  content: " \2022 ";
}

.last-list {
  line-height: 2rem;
  font-weight: lighter;
  margin: 4rem 30rem 1rem;
}

.last-list li {
  margin-right: 1rem;
  display: inline;
  list-style: none;
  text-decoration: underline;
}
